:root {
	--main-text: #2c2d2e;
	--secondary-text: #919399;
	--prime-color: #ef7c00;
	--secondary-link: #efb578;
	--color-bg-item: rgba(0, 16, 61, 0.12);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	color: var(--main-text);
}

li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.container {
	max-width: 1135px;
	margin: 0 auto;
}

.title {
	margin-bottom: 32px;
	font-weight: 600;
	font-size: 32px;
	line-height: 40px;
	text-align: center;
}

.title-span {
	color: var(--prime-color);
}

.custom-btn {
	display: inline-block;
	padding: 10px 20px;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	color: var(--prime-color);
	border: 1px solid var(--prime-color);
	border-radius: 4px;
}

.custom-btn:hover {
	color: #fff;
	background-color: var(--prime-color);
	transition: 0.3s;
}

.header {
	position: absolute;
	top: 0;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 4px 32px rgba(0, 16, 61, 0.16);
	z-index: 100;
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav__list {
	display: flex;
	margin: 28px 0;
}

.nav__list-item:not(:last-child) {
	position: relative;
	margin-right: 16px;
	padding-right: 16px;
	border-right: 1px solid var(--color-bg-item);
}

.nav__list-link {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
}

.nav__list-link:hover {
	color: var(--prime-color);
}

.nav__list-dropdown {
	display: none;
}

.nav__list-item:hover .nav__list-dropdown {
	position: absolute;
	left: -44px;
	display: block;
}

.nav__list-dropdown span {
	display: inline-block;
	height: 25px;
}

.dropdown__wrap {
	width: 244px;
	padding: 16px 20px 0 24px;
	background: #ffffff;
	border: 1px solid rgba(0, 16, 61, 0.12);
	border-radius: 0px 0px 4px 4px;
}

.dropdown__wrap-item {
	display: inline-block;
	padding-bottom: 16px;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: var(--main-text);
}

.dropdown__wrap-item:hover {
	color: var(--prime-color);
}

.lang {
	position: relative;
}

.lang__item {
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
	color: #919399;
}

.lang__item:not(:last-child) {
	padding-right: 4px;
	border-right: 1px solid #919399;
}

.lang__item_active {
	color: var(--prime-color);
}

main {
	margin: 80px auto 0;
	width: 1366px;
}

.home {
	position: relative;
}

.home__wrap {
	height: 527px;
	background: url('../img/home/bg1.png') no-repeat center/cover;
}

.home__wrap_second {
	background: url('../img/home/bg2.jpg');
}

.home__wrap_third {
	background: url('../img/home/bg3.jpg');
}

.home__container {
	height: 100%;
	display: flex;
	align-items: center;
}

.home__content {
	width: 582px;
}

.home__subtitle {
	font-weight: 500;
	font-size: 13px;
	line-height: 13px;
}

.home__title {
	margin: 16px 0 17px;
	text-align-last: left;
}

.home__text {
	margin: 0 0 16px;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
}

.home__button {
	padding: 10px 20px;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	color: #fff;
	background-color: var(--prime-color);
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.home__button:hover {
	background-color: var(--secondary-link);
	transition: 0.3s;
}

.home__links {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	padding: 10px 3px;
	margin-right: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	backdrop-filter: blur(5px);
	border-radius: 20px;
	z-index: 10;
}

.home__links-item:nth-child(2) {
	margin: 30px 0;
}

.home .owl-dots {
	position: absolute;
	left: 116px;
	bottom: 40px;
}

.home .owl-theme .owl-dots .owl-dot span,
.certificates .owl-theme .owl-dots .owl-dot span {
	background-color: inherit;
	border: 1px solid var(--prime-color);
}

.home .owl-theme .owl-dots .owl-dot span:hover,
.certificates .owl-theme .owl-dots .owl-dot span:hover {
	background-color: var(--prime-color);
}

.home .owl-theme .owl-dots .owl-dot.active span,
.certificates .owl-theme .owl-dots .owl-dot.active span {
	background-color: var(--prime-color);
}

.about {
	margin: 40px 0 100px;
}

.about__title span {
	text-transform: uppercase;
}

.about__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.about__col-6 {
	width: 552px;
}

.about__video {
	position: relative;
	display: inline-block;
}

.about__video span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	height: 74px;
	width: 74px;
	border-radius: 50%;
	background-color: var(--prime-color);
}

.about__video span::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 54%;
	transform: translate(-50%, -54%);
	border-top: 12px solid transparent;
	border-left: 23px solid #fff;
	border-bottom: 12px solid transparent;
}

.about__description {
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
}

.about__description:nth-child(2) {
	margin: 20px 0;
}

.certificates {
	margin-bottom: 75px;
}

.certificates .owl-carousel .owl-item img {
	width: 201px;
	height: 284px;
	object-fit: cover;
}

.owl-theme .owl-nav {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-top: 0;
	width: 100%;
}

.customPrevBtn,
.customNextBtn {
	position: absolute;
	transform: translateY(-50%);
	height: 50px;
	width: 27px;
	cursor: pointer;
}

.certificates-custom-prev,
.products-custom-prev {
	left: -64px;
	background-image: url('../img/certificates/prev-icon.png');
}

.certificates-custom-next,
.products-custom-next {
	right: -64px;
	background-image: url('../img/certificates/next-icon.png');
}

.certificates .owl-dots {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.products {
	margin-bottom: 80px;
	text-align: center;
}

.products-tabs__btn {
	display: inline-block;
	padding: 10px 20px;
	margin: 0 12px;
	font-weight: 500;
	font-size: 13px;
	line-height: 13px;
	color: var(--prime-color);
	background-color: #fff;
	border: 1px solid var(--color-bg-item);
	border-radius: 61px;
	cursor: pointer;
}

.products-tabs__btn:hover,
.products-tabs__btn_active {
	color: #fff;
	background-color: var(--prime-color);
	border: 1px solid var(--prime-color);
	transition: 0.3s;
}

.products__content-wrap {
	position: relative;
}

.products__content {
	display: none;
}

.products__content_active {
	display: block;
}

.products-slider {
	margin: 50px 0;
}

.products .owl-carousel .owl-item img {
	width: 203px;
	height: 281px;
	object-fit: cover;
	border-radius: 5px;
}

.products .owl-carousel .owl-item a::before {
	content: '';
	position: absolute;
	top: -22px;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 30px;
	width: 35px;
	background-color: #fff;
	border-radius: 50%;
}

.products__owl-nav {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
